<h1>Informações sobre o livro</h1>

<div class="nav"><a href="/books">Voltar à lista de livros</a></div>

<div class="container">
  <h2>{{book.title}}</h2>
  <p>Este livro tem {{book.page_amount}} páginas</p>
</div>